@use "sass:map";


@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('../../educinfo/educinfo-infra/src/assets/css/educ-helper.css');
@import url('../../educinfo/educinfo-infra/src/assets/css/educinfo.css');



$grid-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px);

$flashcard-width: (xs:340px,
    sm: 400px,
    md: 500px,
    lg: 600px) !default;

.multiCardBox, .cardBox {
    font-size: 1.2rem;
    margin: auto;
    perspective: 1300px;
    transition: all 0.3s ease 0s;
    padding: 3vw 0;
    margin: 1rem 0;
    border-width: 1px 0;
    border-style: solid;

    .card[flip='yes'] {
        transform: rotateY(180deg);
    }

    .card {
        background: #222;
        cursor: default;
        transform-style: preserve-3d;
        transition: transform 0.4s ease 0s;
        border-radius: 1.5vw;
        margin: 0 auto;
        font-family: 'Patrick Hand', cursive;

        img.img-cardfull {
            background-color: #fff;
            width: 100%;
            height: 100%;
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }

        .back {
            background: cornflowerblue;
            transform: rotateY(180deg);
        }

        .front,
        .back {
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            box-sizing: border-box;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.8em;
            position: absolute;
            text-align: center;
            border-radius: 1.5vw;
        }

    }
    
    .hidden {
        display: none;
    }
}

.multiCardBox {
    .hint {
        text-align: center;
        margin-top: 1.5rem;
    }

    .verify {
        text-align: center;
        margin-top: 1.5rem ;
    }

    .final{
        transition: transform 0.15s;
        transform-origin: center;
    }
    
    .final:hover{
        transform: scale(1.03);
    }
}

@-webkit-keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@keyframes fadeOutRight {
    0% {
       opacity: 1;
       transform: translateX(0);
    }
    100% {
       opacity: 0;
       transform: translateX(500px);
    }
 } 

 .vanishing-animated {
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: fadeOutRight;
 }

@each $name,
$value in $flashcard-width {
    @media screen and (min-width: map.get($grid-breakpoints, $name)) {
        .card {
            width: $value;
            height: calc($value * 9 / 16);
            font-size: calc($value/15);
            pre code.hljs {
                padding:0;
                text-align: left;
                font-size: 14px;
            }
        

            .small{
                font-size: calc($value/18);
            }

            .big{
                font-size: calc($value/12);
            }
        }
    }
}