@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("../../educinfo/educinfo-infra/src/assets/css/educ-helper.css");
@import url("../../educinfo/educinfo-infra/src/assets/css/educinfo.css");
.multiCardBox, .cardBox {
  font-size: 1.2rem;
  margin: auto;
  perspective: 1300px;
  transition: all 0.3s ease 0s;
  padding: 3vw 0;
  margin: 1rem 0;
  border-width: 1px 0;
  border-style: solid;
}
.multiCardBox .card[flip=yes], .cardBox .card[flip=yes] {
  transform: rotateY(180deg);
}
.multiCardBox .card, .cardBox .card {
  background: #222;
  cursor: default;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  border-radius: 1.5vw;
  margin: 0 auto;
  font-family: "Patrick Hand", cursive;
}
.multiCardBox .card img.img-cardfull, .cardBox .card img.img-cardfull {
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.multiCardBox .card .back, .cardBox .card .back {
  background: cornflowerblue;
  transform: rotateY(180deg);
}
.multiCardBox .card .front,
.multiCardBox .card .back, .cardBox .card .front,
.cardBox .card .back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  border-radius: 1.5vw;
}
.multiCardBox .hidden, .cardBox .hidden {
  display: none;
}

.multiCardBox .hint {
  text-align: center;
  margin-top: 1.5rem;
}
.multiCardBox .verify {
  text-align: center;
  margin-top: 1.5rem;
}
.multiCardBox .final {
  transition: transform 0.15s;
  transform-origin: center;
}
.multiCardBox .final:hover {
  transform: scale(1.03);
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(500px);
  }
}
.vanishing-animated {
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: fadeOutRight;
}

@media screen and (min-width: 0) {
  .card {
    width: 340px;
    height: 191.25px;
    font-size: 22.6666666667px;
  }
  .card pre code.hljs {
    padding: 0;
    text-align: left;
    font-size: 14px;
  }
  .card .small {
    font-size: 18.8888888889px;
  }
  .card .big {
    font-size: 28.3333333333px;
  }
}
@media screen and (min-width: 576px) {
  .card {
    width: 400px;
    height: 225px;
    font-size: 26.6666666667px;
  }
  .card pre code.hljs {
    padding: 0;
    text-align: left;
    font-size: 14px;
  }
  .card .small {
    font-size: 22.2222222222px;
  }
  .card .big {
    font-size: 33.3333333333px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 500px;
    height: 281.25px;
    font-size: 33.3333333333px;
  }
  .card pre code.hljs {
    padding: 0;
    text-align: left;
    font-size: 14px;
  }
  .card .small {
    font-size: 27.7777777778px;
  }
  .card .big {
    font-size: 41.6666666667px;
  }
}
@media screen and (min-width: 992px) {
  .card {
    width: 600px;
    height: 337.5px;
    font-size: 40px;
  }
  .card pre code.hljs {
    padding: 0;
    text-align: left;
    font-size: 14px;
  }
  .card .small {
    font-size: 33.3333333333px;
  }
  .card .big {
    font-size: 50px;
  }
}